{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h3>Lead Management</h3>
    <div class='row'>
        <form class='uniForm' method="get">
            {{ filter.form|crispy }}
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
    <br>
    <div class='row'>
        <table class="table table-bordered" style="width:100%">
            <tr>
                <th>Response</th>
                <th>Follow Up</th>
                <th>Contact Person Name</th>
                <th>Source</th>
            </tr>
            {% for followup in filter.qs %}
            <tr>
                <td>{{ followup.response }}</td>
                <td>{{ followup.followup_date }}</td>
                <td>{{ followup.lead.contact_person_name }}</td>
                <td>{{ followup.lead.source }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}
